# Object files
*.o
*.ko
*.obj
*.elf
*.d
*.bc
tmp.S

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.pcap

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
*.iso
*.bin
disk.img
kernel/build/*
root/*
kernel/ISO/*
# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.vscode/*
setup_env.sh

initrd/initrd

# Debug files
*.dSYM/

*.sub*