# Object files
*.o
*.ko
*.obj
*.elf
*.d
*.bc
tmp.S

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
*.iso
disk.img
build/*
root/*
# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
setup_env.sh

# Debug files
*.dSYM/

*.sub*